#main-container {
  flex-direction: row;
}
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .row {
    display: flex;
    flex-direction: column;
  }

  .dash-component {
    background-color: whitesmoke;
    min-width: 100%;
    padding: 20px;
  }
}
