.billing-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.billing-header {
    margin-top: 3%;
}

.billing-card {
    padding-top: 3%;

}

.billing-li {
    text-align: left;
}