.pageContainer {
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

.pageHeader {
    color: rgb(172, 119, 206);
    width: 80vw;
}

.pageSubheader {
    color: rgb(79, 79, 79);
    display: inline;
    margin-right: 10px;
}

.opportunityList {
    margin-bottom: 40px;
}

.newButton {
    margin-bottom: 10px;
}

.formGroup {
    width: 50%;
}

.formButtons {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}