.opportunity-page-container {
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

.opportunity-page-header {
    color: rgb(172, 119, 206);
    width: 80vw;
}

.opportunity-page-subheader {
    color: rgb(79, 79, 79);
    display: inline;
    margin-right: 10px;
}

.opportunityList {
    margin-bottom: 40px;
}

.opportunity-newButton {
    margin-bottom: 10px;
}

.opportunity-formGroup {
    width: 50%;
    margin-bottom: 15px;
}

.opportunity-formButtons {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}